* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 800px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: salmon;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputField {
  width: 300px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(0, 0, 0);
  vertical-align: middle;
  font-size: 30px;
}
.to-dos {
  margin-top: 25px;
  height: 630px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.paragraph-styleing {
  width: 70px;
  word-wrap: break-word;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
}
